.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li:hover {
  background-color: #1AC4DB;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #1AC4DB;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #FC4C64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: black;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 600ms;
}
